* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  /* Google Fonts */
}

section:nth-child(1) {
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.5)), url("img/lp5.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8em;
}

section:nth-child(1) h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: .5em;
}

section:nth-child(1) p {
    font-size: 1.3em;
    margin-bottom: .5em;
}

section:nth-last-child(1) {
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.8)), url("img/lp3.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    padding: 8em;
}

section:nth-last-child(1) h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: .5em;
    color: #fff
}

section:nth-last-child(1) p {
    font-size: 1.3em;
    margin-bottom: .5em;
}

.pager {
    background-color: #504A4B;
    text-align: center;
    padding: .8em;
    font-weight: 300;
    color: #ffffff;
    font-size: 2.2em;
}

.contents {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
}

.content-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 1em;
    border: 5px solid #36454F;
}

.content:nth-child(1) .content-img { background-image: url("img/lp2.jpg"); } 
.content:nth-child(2) .content-img { background-image: url("img/lp1.jpg"); } 
.content:nth-child(3) .content-img { background-image: url("img/lp4.jpg"); } 

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #36454F;
}

.brand {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
}

.sections {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.sections li {
    list-style: none;
}

.sections a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.button {
    color: #ffffff;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #36454F;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h4 {
    font-size: 1.8em;
    margin-bottom: .5em;
}

footer i {
    color: white;
}

footer p {
    margin-bottom: 1em;
    font-size: 1.2em;
}

#social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: fit-content;
    padding-left: 25px
}

.social-links {
    font-size: 2em;
    letter-spacing: 1em;
    cursor: pointer;
}

@media (max-width: 992px) {
    body {
        overflow-x: hidden; /* esconder barra de rolagem ao transportar o menu lateral */
    }

    section:nth-child(1) {
        padding: 2.5em;
    }

    section:nth-last-child(1) {
        padding: 2.5em;
    }

    section:nth-child(1) h2 {
        color: #fff;
        font-size: 2.7em;
        margin-bottom: .3em;
    }

    section:nth-child(1) p {
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    .contents {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;

    }

    .content,
    footer p {
        font-size: 1em;
        max-width: 100%;
        margin-bottom: 2em;
    }

    .sections {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #36454F;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%); /* transportar o menu lateral para fora da janela */
    }
    
    .button {
        display: block;
    }

    .button-show {
        transform: translateX(0%); /* transportar o menu lateral para dentro da janela */
        transition: transform 0.5s ease-in-out;
    }
}